{
  "singleQuote": true,
  "trailingComma": "all",
  "overrides": [
    {
      "files": ["*.js", "*.jsx"],
      "options": {
        "parser": "node_modules/prettier-sort-destructure/index.js"
      }
    }
  ]
}
