/* your custom css */

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

body {
  font-family: 'Source Sans Pro', sans-serif;
}
pre {
  overflow-x: scroll;
  padding-bottom: 20px;
}
.headerTitleWithLogo {
  display: none !important;
}
@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}
