/* your custom css */

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

body {
  font-family: 'Source Sans Pro', sans-serif;
}
pre {
  overflow-x: scroll;
  padding-bottom: 20px;
}
.flexGap {
  flex-grow: 1;
}
#homeGridBlock {
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.homeContainer {
  background-color: #222222;
}
#particles-js {
  position: relative;
  overflow: hidden;
}
.particles-js-canvas-el {
  position: absolute;
  top: 0;
  left: 0;
  /*bottom: 0;*/
  /*height: auto !important;*/
}
.homeContainer .homeWrapper {
  color: #ffffff;
  padding-top: 150px;
  padding-bottom: 150px;
}
.homeBlockIcon {
  width: 100px;
  height: 100px;
  background-color: #eaeaea;
  margin-top: 40px;
  border-radius: 4px;
}
#home .mainContainer {
  padding: 0;
}
.projectTitle {
  color: inherit;
}
.promoSection a {
  color: inherit;
  text-decoration: underline;
}
.promoSection a:hover {
  text-decoration: none;
}
.container .gridBlock .blockContent p {
  margin: 0;
  padding: 0;
}
@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}
