$color-primary: #dc1d30;

$color-blue: #013c89;
$color-red: #dc1d30;

$color-grey-light-1: #f6f6f6;
$color-grey-light-2: #dddddd;

$color-grey-text-1: #222222;
$color-grey-text-2: #444444;
$color-grey-text-3: #666666;
$color-grey-text-4: #888888;

$font-size-default: 0.8rem;
$font-size-s: 0.7rem;

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 20px;
}

body {
  padding: 0;
  margin: 0;
  color: $color-grey-text-1;
  font-family: 'Source Sans Pro', sans-serif;
  overflow-y: hidden;
  line-height: 1.5;
  font-size: $font-size-default;
}

input,
button, select {
  font-size: inherit;
  font-family: inherit;
  outline: 0;

  &:active {
    outline: 0;
  }
}

.halfWidth {
  width: 50%;
}

.inputWrapper {
  padding-top: 11px;
  padding-bottom: 11px;
}

.inputLabel {
  font-size: 14px;
  color: $color-grey-text-3;
  display: block;
  margin: 0 0 5px;
}

.input {
  height: 32px;
  width: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  background-color: $color-grey-light-1;
  border: 1px solid $color-grey-light-1;
  color: $color-grey-text-2;
  border-radius: 4px;
  padding: 0 8px;
  font-size: inherit;
  &.wide {
    width: 400px;
  }

  &:active,
  &:focus {
    outline-width: 0;
    border: 1px solid $color-blue;
  }

  &.error {
    border: 1px solid $color-red;
  }
}

button {
  cursor: pointer;
}

a {
  color: $color-primary;
}

p {
  line-height: 1.5;
}

input[disabled] {
  cursor: not-allowed;
}

.flex {
  display: flex;
}

.flexSpace {
  width: 10px;
}

.flexGrow {
  flex-grow: 1;
}

.link {
  color: $color-primary;
  background: transparent;
  padding: 0;
  border: 0;
  margin: 0 0 0 20px;
}

.container {
  padding: 15px 20px;
}
.optionContainer {
  padding: 0 20px;
}

.separator {
  width: 100%;
  height: 0;
  border: 0;
  margin: 0;
  border-bottom: 1px solid $color-grey-light-2;
}

#wrapper {
  display: flex;
  background-color: #000;
  height: 100vh;
  overflow-y: hidden;
  width: 100%;
}

#viewport {
  width: 100%;
  flex-grow: 1;
  height: 100%;
  position: relative;
}

.btn-primary {
  border: 0;
  margin: 0;
  padding: 6px 20px;
  border-radius: 4px;
  color: white;
  background-color: $color-primary;
  font-size: 16px;
  &[disabled] {
    background-color: $color-grey-light-2;
  }
}


#content {
  width: 0;
  flex-grow: 1;
  flex-shrink: 1;
}
