* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes twinkle {
  from,
  to {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@-moz-keyframes twinkle {
  from,
  to {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@-webkit-keyframes twinkle {
  from,
  to {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@-ms-keyframes twinkle {
  from,
  to {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@-o-keyframes twinkle {
  from,
  to {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

body {
  padding: 0;
  margin: 0;
  color: #ddd;
  font-family: 'Source Sans Pro', sans-serif;
  overflow-y: hidden;
}

input,
button {
  font-size: inherit;
  font-family: inherit;
  outline: 0;

  &:active {
    outline: 0;
  }
}

button {
  cursor: pointer;
}

#wrapper {
  display: flex;
  background-color: #000;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
}

#sidebar {
  background-color: #222;
  width: 400px;
  flex-shrink: 0;
  flex-grow: 0;
  overflow-y: auto;
}

#viewport {
  width: 100%;
  height: 100%;
  position: relative;
}

#viewportStats {
  position: absolute !important;
  top: auto !important;
  left: auto !important;
  right: 0 !important;
  bottom: 0 !important;
}

#logo-wrapper {
  padding: 10px 20px;
  border-bottom: 1px solid #000;
}

#logo {
  height: 40px;
  display: block;
}

#scene {
  flex-grow: 1;
  width: 100%;
}

#ros-input-section {
  padding: 14px 20px;
  border-bottom: 1px solid #000;
}

#ros-status {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}

#ros-status-dot {
  width: 8px;
  height: 8px;
  background-color: #fff;
  border-radius: 4px;
  margin: 0 10px -2px 0;

  &.connected {
    background-color: #3e991c;
  }

  &.connecting {
    background-color: #f9c351;
    animation: twinkle normal 1s infinite ease-in-out;
  }

  &.error {
    background-color: #ff3e3c;
  }
}

#ros-status-text {
}

#ros-input-flex {
  display: flex;
}

#ros-input {
  color: #fff;
  width: 220px;
  border: 0;
  padding: 6px 10px;
  margin-right: 10px;
  border-radius: 4px;
  background-color: #444;
  font-size: 16px;
}

#ros-connect-button {
  flex-grow: 1;
}

#visualzation-list {
  padding: 10px 20px;
}

.dislay-type-form-wrapper {
  padding: 20px 10px 10px 20px;
  border-bottom: 1px solid black;

  .display-type-form-header {
    display: flex;
    align-items: center;
  }

  .display-type-form-content {
    margin-top: 8px;
  }

  .display-type-form-button-section {
    margin-top: 8px;

    button:first-child {
      margin-right: 15px;
    }

    button {
      background: #444;
      border: 0;
      border-radius: 4px;
      color: white;
      padding: 5px 10px;
      font-size: 12px;

      i {
        margin-right: 5px;
      }
    }
  }

  .type-image {
    width: 20px;
    height: 20px;
  }

  select {
    margin-left: 10px;
    background: #212121;
    border-color: #444;
    color: white;
    padding: 3px;
  }
}

.type-image {
  width: 30px;
  height: 30px;
  display: inline-block;
  background-color: #444;
  margin-right: 10px;
  border-radius: 4px;
}

.btn-primary {
  border: 0;
  margin: 0;
  padding: 6px 20px;
  border-radius: 4px;
  color: white;
  background-color: #34b7ee;
  font-size: 16px;
}

.modal-wrapper {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-contents {
  width: 1000px;
  margin: 100px auto;
  height: 600px;
  background-color: #222;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;

  .modal-title {
    margin-bottom: 6px;
  }

  .type-container {
    display: flex;
    flex-grow: 0;

    .type-selection {
      padding: 0 10px;
      flex: 1 0 50%;
      overflow-y: auto;

      button {
        text-align: left;
        width: 100%;
        height: 58px;
        font-size: 22px;
        border: 0;
        background: transparent;
        color: white;
        padding: 15px 28px 13px 28px;
        display: flex;
        align-items: center;
        margin-bottom: 8px;
      }

      button.active {
        background: black;
      }

      button.inactive {
        color: #444;

        .type-image {
          background-color: #2d2d2d;
        }
      }
    }

    .type-info {
      padding: 0 10px;
      flex: 1 0 50%;

      .type-description {
        margin-top: 0;
        margin-bottom: 8px;
        font-size: 22px;
      }

      & > div {
        margin-bottom: 8px;

        a {
          color: #34b7ee;
        }
      }
    }
  }
}
