* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding: 0;
  margin: 0;
  color: #ddd;
  font-family: 'Source Sans Pro', sans-serif;
}
button {
  font-size: inherit;
  font-family: inherit;
}
#wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #000;
  width: 100%;
  height: 100vh;
  overflow-y: auto;

  #side-bar {
    flex-grow: 1;
    flex: 1 0 30%;
    display: flex;
    background-color: #222;
    flex-direction: column;

    .display-type-section {
      padding: 20px 30px;
    }
  }

  #sim-container {
    flex: 1 0 70%;
    display: flex;
  }
}
#simContents {
  flex-grow: 1;
  position: relative;
}
#viewport {
  width: 100%;
  height: 100%;
}
#viewportStats {
  position: absolute !important;
  top: auto !important;
  left: auto !important;
  right: 0 !important;
  bottom: 0 !important;
}
#header {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  #connect-indicator {
    display: flex;
    align-items: center;
    line-height: 1.84;

    .dot-connection {
      margin-right: 10px;
      height: 8px;
      width: 8px;
      border-radius: 100%;
      background: white;
    }

    .connect-status {
      font-size: 16px;
    }
  }

  & > div {
    padding: 20px 30px;
    border-bottom: 1px solid white;
    width: 100%;
  }
}
#logo {
  width: 100%;
  height: 40px;
  align-items: center;
  align-self: start;
  display: flex;
}
#logomark {
  height: 40px;
  display: block;
}
#scene {
  flex-grow: 1;
  width: 100%;
}
#ros-input-flex {
  display: flex;
}
#ros-input {
  color: #fff;
  width: 220px;
  border: 0;
  height: 32px;
  padding: 0;
  margin-right: 7px;
  border-radius: 4px;
  background-color: #666666;
  font-size: 16px;
}
#ros-connect {
}

.btn-primary {
  height: 32px;
  border: 0;
  margin: 0;
  padding: 0 10px;
  border-radius: 4px;
  color: white;
  background-color: #34b7ee;
  font-size: 16px;
}
