* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding: 0;
  margin: 0;
  color: #ddd;
  font-family: 'Source Sans Pro', sans-serif;
}
button {
  font-size: inherit;
  font-family: inherit;
}
#wrapper {
  display: flex;
  flex-direction: column;
  background-color: #000;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}
#header {
  width: 100%;
  height: 50px;
  background-color: #222;
  display: flex;
  align-items: center;
}
#logo {
  width: 60px;
  height: 40px;
}
#logomark {
  height: 40px;
  margin: 0 auto;
  display: block;
}
#scene {
  flex-grow: 1;
  width: 100%;
}
#ros-input-flex {
  display: flex;
}
#ros-input {
  width: 250px;
  border: 0;
  height: 26px;
  padding: 0;
  margin: 0;
  border-radius: 4px 0 0 4px;
  background-color: #666666;
}
#ros-connect {
  height: 26px;
  border: 0;
  margin: 0;
  padding: 0 10px;
  border-radius: 0 4px 4px 0;
}
