@import './common';

.modal-wrapper {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.90);
}

.modal-contents {
  width: 1000px;
  margin: 100px auto;
  height: 600px;
  background-color: #ffffff;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;

  .modal-title {
    margin-bottom: 6px;
    margin-top: 0;
  }
}

.type-container {
  display: flex;
  flex-grow: 1;
  overflow: hidden;

  .type-selection {
    flex: 1 0 50%;
    overflow-y: auto;
  }

  .type-info {
    border-left: 1px solid $color-grey-light-2;
    padding: 0 0 0 20px;
    flex: 1 0 50%;
    overflow-y: auto;

    h4 {
      margin-top: 10px;
      margin-bottom: 8px;
      font-size: 22px;
    }

    img {
      max-width: 100%;
    }

    & > div {
      margin-bottom: 8px;
    }
  }
}

.addVizForm {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  height: 0;
  flex-direction: column;
}

.modal-actions {
  display: flex;
  flex-shrink: 0;
  padding: 10px 0 0;

  button {
    margin-left: 10px;
  }
}

.tabs-header {
  border-bottom: 1px solid $color-grey-light-2;
  flex-shrink: 0;
}

.tabs-button {
  margin: 0 10px -1px;
  background-color: transparent;
  border: 1px solid $color-grey-light-2;
  border-bottom: 1px solid $color-grey-light-2;
  border-radius: 4px 4px 0 0;
  color: inherit;
  padding: 5px 10px 10px;

  &.selected {
    border: 1px solid $color-grey-light-2;
    border-bottom: 1px solid #fff;
  }
}

.typeRow, .topicRow {
  text-align: left;
  width: 100%;
  font-size: 16px;
  border: 0;
  background: transparent;
  padding: 10px 10px 10px 30px;
  display: flex;
  align-items: center;

  .reactSelect {
    color: $color-grey-text-2;
  }

  &:hover {
    color: $color-primary;
    background-color: $color-grey-light-1;
    .reactSelect {
      color: $color-grey-text-2;
    }
  }

  &.selected {
    color: $color-primary;
    background-color: $color-grey-light-1;
  }

  &.inactive {
    opacity: 0.2;
    cursor: not-allowed;
  }
}

.topicRow {
  padding-left: 10px;
}

.typeUnsupported {
  padding: 10px;
  opacity: 0.4;
  cursor: not-allowed;
}

.typeEmpty {
  padding-left: 30px;
  font-style: italic;
}
