@import "./common";

#viewportStats {
  position: absolute !important;
  top: auto !important;
  left: auto !important;
  right: 0 !important;
  bottom: 0 !important;
}

.vizImageContainer {
  display: flex;
  position: absolute;
  background-color: #fff;
  flex-direction: column;
  cursor: move;
  border-radius: 4px;
  border: 1px solid $color-grey-light-2;

  canvas {
    width: 320px;
    height: 240px;
  }
}
.vizImageHeader {
  display: flex;
  font-size: 14px;
  padding: 2px 5px;
  border-bottom: 1px solid $color-grey-light-2;
}
.vizImageName {
  pointer-events: none;
  user-select: none;
}
.vizImageClose {
  cursor: pointer;
  background-color: transparent;
  border: 0;
  color: inherit;
  text-decoration: underline;
  font-size: inherit;
  font-family: inherit;
  &:hover {
    text-decoration: none;
  }
}

#scene {
  flex-grow: 1;
  width: 100%;
}

.vizItem {
  padding: 10px 0;
  border-bottom: 1px solid $color-grey-light-1;

  .vizItemIcon {
    width: 20px;
    height: 20px;
  }

}

.vizItemContent {
  margin-top: 8px;
  margin-left: 24px;
}

.vizItemActions {
  display: flex;
  margin-top: 8px;

  button {
    background: $color-grey-light-1;
    border: 0;
    border-radius: 4px;
    color: $color-grey-text-4;
    padding: 5px 10px;
    font-size: 0.6rem;
    &:hover {
      background-color: $color-primary;
      color: #ffffff;
    }
    & + button {
      margin-left: 10px;
    }
  }
}

.vizItemCollapse {
  background-color: transparent;
  border: 0;
  padding: 0;
  margin: 0 3px 0 0;
  width: 20px;
  height: 20px;
  img {
    width: 14px;
  }
  &.collapsed {
    transform: rotate(-90deg);
  }
}

.vizItemIcon {
  width: 30px;
  height: 30px;
  display: inline-block;
  background-color: $color-grey-light-1;
  margin-right: 10px;
  border-radius: 4px;
}
